*, *::before, *::after {
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.container{
    width: 60%;
    padding: 5% 0;
    margin: 0 auto;
}
/*feature section*/
.feature{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}
.card{
    flex-grow: 1;
    flex-basis: 2rem;
    text-align: center;
}
.card img{
    width: 3.5rem;
}
.card h3{
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #424242;
    font-size: 1.2rem;
}
.card p{
    color: #757575;
    font-weight: 500;
}
/* stats section*/
.stats {
    background-color: #0056D6;
    box-shadow: 3px 4px 5px #9b9595f7;
    color: #fff;
    border-radius: 12px;
    padding: 4em;
}
.center{
    text-align: center;
}
.container h2, .stats h3{
    font-size: 2.5rem;
}
.statistics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.stats__info{
    flex-grow: 1;
    flex-basis: 2rem;
}
.stats__info hr{
    width: 80px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 2px solid #fff;
}
/*Services*/
.service{
    text-align: center;
}.service h2{
    font-size: 2.5rem;
    font-weight: 600;
}
.subheading{
    font-weight: 400;
    color: #5F5F5F;
    padding-top: 2rem;
    width: 50%;
    margin: 0 auto;
}
.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.actual__service{
    flex-grow: 1;
    flex-basis: 5rem;
}
.actual__service h4{
    color: #2E2E2E;
    padding: 2rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}
.actual__service p{
    color: #5F5F5F;
    font-weight: 500;
}
/*Customer*/
.customer{
    text-align: center;
}
.customer .subtext{
    font-weight: 400;
    color: #9598A0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}
.testimonial{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}
.testimonial .arrow{
    width: 3rem;
}
.review{
    background-color: #fff;
    padding: 2rem;
    font-weight: 500;
    color: #9598A0;
    box-shadow: 1px 3px 6px 2px #2E213D0D,0px 20px 1px -4px white,0px 35px 8px -8px #2E213D0D, 0px 50px 1px -10px white,0px 65px 8px -16px #2E213D0D ;
}
/* 1px 3px 6px 2px grey, 0px 20px 1px -2px white, 0px 35px 20px -8px grey, 0px 48px 0px -10px white, 0px 53px 4px -10px grey; */
.review .name{
    font-weight: 600;
    color: #171C2C;
    font-size: 1.2rem;
}
.review .role{
    padding: .5rem 0;
    font-size: .8rem;
}
.review .text{
    padding: 2rem 0;
}
.roundDots{
    margin-top: 6rem;
}
.rounddot{
    height: 10px;
    width: 10px;
    background-color: #D3E5FF;
    border-radius: 50%;
    display: inline-block;
}
.rounddot:hover{
    background-color: #0056D6;
}
/*Agents*/
.ourAgents{
    background-image:linear-gradient(#F6FBFD, #F4F8FD00);
    padding-top: 3rem;
    padding-bottom: 7rem;
}
.dots{
    position: relative;
    text-align: center;
}
.dots .union{
    position: absolute;
    right: 350px;
    width: 150px;
    top: 150px;
    
}
.dots h2{
    color: #343951;
    font-weight: 600;
}
.team{
    font-weight: 400;
    color: #5F5F5F;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}
.agents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    padding: 0 5rem;
}
.agent{
    background-color: #fff;
    font-weight: 500;
    color: #343951;
    height: 280px;
    width: 250px;
    box-shadow: 3px 4px 5px #9b9595f7;
}
.agentIcons{
    display: flex;
    justify-content: space-between;
    padding: 1rem;  
}

.agentDetails img{
    border-radius: 50%;
    width: 120px;
}
.agent .location{
    font-size: .6rem;
    letter-spacing: 1px;
    padding-top: .2rem;
}
.agent .contact{
    padding: 2rem 0;
}
.agent .phone{
    font-size: .8rem;
}
.agent .email{
    color: #0056D6;
    font-size: .6rem;
    padding-top: .2rem;
}
.second{
    margin-top: 3rem;
}
.third{
    margin-top: 6rem;
}
.second .agentDetails img, .third .agentDetails .img{
    margin-top: -20px;
}
.second .agentDetails .name, .third .agentDetails .name{
    margin-top: -20px;
}
/*Footer*/
footer{
    background-color: #0056D6;
    color: #fff;
    padding-top: 4rem;
    text-align: center;
}
footer h2{
    font-weight: 500;
}
footer button{
    margin: 3rem 0;
    padding: .8rem 1.3rem;
    font-size: .8rem;
    border-radius: 7px;
    border: 1px solid #757575;
}
footer button:hover{
    background-color: white;
    color: #0056D6;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    text-align: left;
    margin: 3rem 0;
}
.quick__links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: flex-end;
    gap: 7rem;
}
.links{
    flex-grow: 1;
    flex-basis: 5rem;
}
.main__logo img{
    width: 5rem;
}
.main__logo p{
    width: 10rem;
}
.links li, .main__logo p{
    list-style: none;
    font-size: .7rem;
    font-weight: 400;
    padding-bottom: 1.5rem;
}
.links li:hover{
    text-decoration: underline;
}
.first__link{
    padding-bottom: 2.5rem;
}
.footnote{
    display: block;
    position: relative;
    text-align: center;
    font-size: .6rem;
    padding-bottom: 0;
}
footer.container{
    padding-bottom: 1%;
}


